.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100px;
  flex-shrink: 0;
  background: rgba(5, 15, 0, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header a {
  margin-right: 24px;
}
.header-logo {
  width: auto;
  height: auto;
}
.header-btn {
  display: inline-flex;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--White, #fff);
  transition: background 0.3s ease, color 0.3s ease;
  min-width: 178px;
}
.header-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}
nav a {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav a.active {
  color: #ff0000; /* Желаемый цвет для активной ссылки */
}
.burger-menu {
  display: none;
}

.burger-menu-btn {
  display: none;
}
.burger-menu-text {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .header-logo {
    width: 41px;
    height: 32px;
    margin-left: 0;
  }

  .nav {
    display: none;
  }

  .header-btn {
    display: none;
  }
  /* Стили для бургер-меню */
  .burger-menu.hidden {
    display: none;
  }
  .burger-menu {
    position: fixed;
    top: 0;
    background: var(--black-1, #121212);
    display: inline-flex;
    height: 100vh;
    width: 293px;
    padding: 10px 10px 30px 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    flex-shrink: 0;
    right: -100%; /* Начальная позиция за пределами видимости */
    transition: right 0.5s ease; /* Анимация для свойства right */
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  .burger-menu-open .header-logo {
    position: absolute;
    left: 20px;
  }
  .header .header-logo {
    position: absolute;
    left: 20px;
  }
  .burger-menu.visible {
    display: inline-flex;
    justify-content: flex-start;
    text-align: left;
    right: 0; /* Открывается при нажатии кнопки */
  }
  .burger-menu-box {
    display: flex;
    position: absolute;
    top: 53px;
    left: 35px;
    gap: 24px;
    flex-direction: column;
  }
  .burger-menu-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 45px;
  }
  
  .burger-menu-block .burger-menu-text- p {
    margin-bottom: 4px;
  }
  .burger-menu-block .header-btn {
    display: flex;
    margin-bottom: 24px;
    border-radius: 10px;
    background: var(--Primary, #e42652);
    border: none;
    font-size: 16px;
  }
  .burger-menu.visible a {
    font-size: 20px;
  }

  .burger-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .burger-menu-opening {
    animation: slideInRight 0.5s ease forwards;
  }

  @keyframes slideInRight {
    from {
      right: -100%; /* Начальная позиция за пределами видимости */
    }
    to {
      right: 0; /* Конечная позиция, когда бургер-меню открыто */
    }
  }

  .burger-menu-closing {
    animation: slideOutRight 0.5s ease forwards;
    height: 0;
    opacity: 0;
  }
  @keyframes slideOutRight {
    from {
      right: 0; /* Текущая позиция, когда бургер-меню открыто */
    }
    to {
      right: -100%; /* Конечная позиция за пределами видимости */
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
