.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  flex-shrink: 0;
  background: rgba(5, 15, 0, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header a {
  font-size: 1.1vw;
}
.header-btn {
  display: inline-flex;
  min-width: 128px;
  border-radius: 0.5em;
  padding: 0.8em 1.8em;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.09vw solid var(--White, #fff);
  transition: background 0.3s ease, color 0.3s ease;
}
.header-logo {
  width: 6vw;
  height: 6vw;
}
.header-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}
.header .nav {
  display: flex;
  gap: 1vw;
}
a.active,
a.active:visited {
  color: #C2C2C2;
}
.burger-menu {
  display: none;
}

.burger-menu-btn {
  display: none;
}
.burger-menu-text {
  display: none;
}

@media only screen and (max-width: 977px) {
  .header {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .header-logo {
    width: 40px;
    min-width: 6px;
    height: auto;
    margin: 0;
  }
  .header .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .burger-menu.hidden {
    display: none;
  }
  .burger-menu {
    position: fixed;
    top: 0;
    background: var(--black-1, #121212);
    display: inline-flex;
    height: 100vh;
    width: 293px;
    padding: 10px 10px 30px 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    flex-shrink: 0;
    right: -100%;
    transition: right 0.5s ease;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  .burger-menu-open .header-logo {
    position: absolute;
    left: 20px;
  }
  .header .header-logo {
    position: absolute;
    left: 20px;
  }
  .burger-menu.visible {
    display: inline-flex;
    justify-content: flex-start;
    text-align: left;
    right: 0;
    opacity: 1;
  }
  .burger-menu-box {
    display: flex;
    position: absolute;
    top: 53px;
    left: 35px;
    gap: 24px;
    flex-direction: column;
  }
  .burger-menu-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 45px;
  }
  .burger-menu-block .burger-menu-text- p {
    margin-bottom: 4px;
  }
  .burger-menu-block .header-btn {
    display: flex;
    margin-bottom: 24px;
    border-radius: 10px;
    background: var(--Primary, #e42652);
    border: none;
    width: 100%;
    font-size: 16px;
  }
  .burger-menu a {
    font-size: 20px;
  }
  .burger-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .burger-menu-opening {
    animation: slideInRight 0.5s ease forwards;
  }
  @keyframes slideInRight {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  .burger-menu-closing {
    animation: slideOutRight 0.5s ease forwards;
  }
  @keyframes slideOutRight {
    from {
      right: 0;
    }
    to {
      right: -100%;
    }
  }
}
