.request-title{
    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 62.4px */
}
.request-container {
    display: flex;
    align-items: center;
    padding: 200px 0 200px;
  }
  
  .request-title {
    margin-right: 530px;

  }
  