.request-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  margin-right: 0px;
}
.request-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

@media only screen and (max-width: 767px) {
  .request-title {
    text-align: center;
    font-size: 32px;
    margin-right: 0;
    padding-bottom: 24px;
  }
  .request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .request-title {
    font-size: 32px;
    margin-right: 230px;
  }
  .request-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
