.request-title {
  font-size: 3.5vw;
  font-weight: 500;
  line-height: 130%;
}
.request-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  .request-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 24px;
  }
  .request-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .request-title {
    font-size: 32px;
    margin-right: 230px;
  }
  .request-container {
    justify-content: center;
  }
}
