.service {
  background: var(--black-1, #121212);
  overflow: hidden;
}
.service-title {
  padding: 10vw 0 6vw 0;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: 70%;
  min-width: 650px;
}
.service-box-card .box-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-svg-box {
  border: 0.07vw solid white;
  border-radius: 50%;
  display: flex;
  width: 4vw;
  height: 4vw;
  align-items: center;
  justify-content: center;
}
.service-request {
  padding: 13vw 0 15vw;
}
.service-box-card {
  position: relative;
  width: 100%;
  margin: 4vw auto 5vw;
}
.service-box-card:active .service-svg-box {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  fill: black;
}
.service-box-card .service-svg {
  transition: transform 0.3s ease;
  width: 2vw;
  height: auto;
}
.service-box-card:active .service-svg {
  transform: rotate(-45deg);
  fill: black;
  filter: invert(100%);
}
.service-box-card p {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  min-width: 567px;
  width: 50%;
}
.service-box-title {
  color: var(--Primary, #e42652);
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 130%;
  position: relative;
  display: inline-block;
  height: 30px;
}
.box-text .box-text-span {
  width: 17vw;
}
.service-box-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1vw;
  bottom: -0.4vw;
  left: 0;
  background-color: var(--Primary, #e42652);
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.service-box-card:active .service-box-title::before {
  transform: scaleX(1);
}
.service-box-line {
  width: calc(91vw - 65px);
  height: 0.05vw;
  margin: 0 auto;
  background: var(--gray-1, #808080);
}

@media only screen and (max-width: 997px) {
  .service-title {
    padding: 86px 0 16px;
    font-size: 24px;
    min-width: 343px;
    width: 80%;
    display: flex;
  }
  .service-box-card .box-text {
    flex-direction: column;
  }
  .service-svg-box {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
  }
  .service-svg {
    width: 20px;
    height: 20px;
  }
  .service-request {
    padding: 100px 0 100px;
  }
  .service-box-card {
    position: relative;
  }
  .service-box-card .service-svg {
    width: 20px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .service-box-card:active .service-svg {
    transform: rotate(0deg);
    fill: black;
    filter: invert(100%);
  }
  .service-box-card p {
    font-size: 16px;
    min-width: 343px;
    width: 90%;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .service-box-title {
    font-size: 20px;
  }
  .service-box-title::before {
    bottom: -3px;
  }
  .service-box-card:active .service-box-title::before {
    width: 70px;
  }
  .service-box-line {
    width: calc(90vw - 30px);
    min-width: 340px;
    height: 1px;
  }
  .service-box-title::before {
    bottom: 3px;
  }
  .box-text .box-text-span {
    width: 177px;
  }
}

@media only screen and (min-width: 997px) and (max-width: 1024px) {
  .service-box-line {
    width: 95%;
  }
}
