.reviews-container {
  position: relative;
}
.reviews-card {
  display: flex !important;
  height: 42vw;
  justify-content: center;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--black-2, #252525);
}
.reviews-card .custom-prev-btn img,
.reviews-card .custom-next-btn img {
  width: 1.5vw;
  height: auto;
}
.reviews-card .custom-prev-btn,
.reviews-card .custom-next-btn {
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  background-color: var(--Primary, #e42652);
  border: 1px solid #e42652;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.reviews-card h3 {
  color: #f1efef;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  padding: 7.3vw 8.5vw 0;
}
.reviews-card-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 7vw;
  padding: 0 30vw 0;
}
.reviews-card-box-prof {
  border-radius: 50%;
  width: 6vw;
  height: auto;
}
.reviews-card-name {
  text-align: center;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  margin-top: 16px;
}
.reviews-card-text {
  text-align: center;
  color: #b7b7b7;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}

/* Стили для слайдера */
.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
}
.slick-prev:hover,
.slick-next:hover {
  color: #ffffff;
}
.slick-dots li button:before {
  font-size: 14px;
  color: #666;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
}

/* Кастомные кнопки для перемотки слайдов */
.reviews-card .custom-prev-btn {
  left: 25%;
  transform: translateX(-50%);
}
.reviews-card .custom-next-btn {
  right: 25%;
  transform: translateX(50%);
}
.reviews-card .custom-prev-btn:hover .custom-btn-svg,
.reviews-card .custom-next-btn:hover .custom-btn-svg {
  color: #000000;
  filter: invert(100%);
  fill: rgb(255, 255, 255);
}
.reviews-card .custom-prev-btn:hover,
.reviews-card .custom-next-btn:hover {
  color: #000000;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .reviews-card {
    height: 411px;
    padding: 10px;
  }
  .reviews-card h3 {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 25px 15px 0;
    min-width: 283px;
    height: 210px;
  }
  .reviews-card-box {
    bottom: 40px;
    padding: 0 40px 0;
  }
  .reviews-card-box-prof {
    width: 60px;
    height: 60px;
  }
  .reviews-card-name {
    font-size: 16px;
    margin-top: 10px;
  }
  .reviews-card .custom-prev-btn img,
  .reviews-card .custom-next-btn img {
    width: 2.5vw;
    height: auto;
  }
  .reviews-card-text {
    font-size: 12px;
  }

  /* Стили для слайдера */
  .slick-prev,
  .slick-next {
    font-size: 14px;
    color: #333;
  }

  .slick-prev:hover,
  .slick-next:hover {
    color: #ffffff;
  }

  .slick-dots li button:before {
    font-size: 14px;
    color: #666;
  }

  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }

  /* Кастомные кнопки для перемотки слайдов */
  .reviews-card .custom-prev-btn {
    left: 5%;
    transform: translateX(-50%);
  }
  .reviews-card .custom-next-btn {
    right: 5%;
    transform: translateX(50%);
  }

  .reviews-card .custom-prev-btn,
  .reviews-card .custom-next-btn {
    bottom: 40px;
    font-size: 14px;
    width: 32px;
    height: 32px;
  }
}

