.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw 3vw;
}
.cards-container a {
  width: 48%;
}
.card:hover .card-img {
  transform: scale(1.06);
  border-radius: 10px;
}
.card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-img-box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.card h4 {
  color: #808080;
  font-size: 1.3vw;
  font-weight: 400;
  margin: 1.3vw 0 0.8vw 0;
}
.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-box p {
  font-size: 1.8vw;
  font-weight: 400;
  width: 40vw;
  margin-right: 30px;
}
.card-svg-box {
  border: 0.09vw solid #808080;
  display: flex;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  align-items: center;
  justify-content: center;
}
.card:hover .card-svg-box {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  fill: black;
}
.card-box .card-svg {
  width: 1.7vw;
  height: auto;
  transition: transform 0.3s ease;
}
.card:hover .card-svg {
  transform: rotate(-45deg);
  fill: black;
  filter: invert(100%);
}

@media only screen and (max-width: 767px) {
  .card {
    margin: 0 auto;
  }
  .cards-container a {
    width: 100%;
  }
  .cards-container {
    display: flex;
    justify-content: center;
  }
  .card h4 {
    font-size: 14px;
    margin: 14px 0 5px 0;
  }
  .card-box p {
    font-size: 16px;
    width: 271px;
    margin-right: 32px;
  }
  .card-svg-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .card:hover .card-svg-box {
    background: #ffffff;
    border: 1px solid rgba(128, 128, 128, 1);
    fill: black;
  }
  .card-box .card-svg {
    width: 25px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .card:hover .card-svg {
    transform: rotate(0deg);
    fill: black;
    filter: invert(100%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .card {
    min-width: 343px;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .card-img-box {
    min-width: 343px;
  }
  .card h4 {
    font-size: 14px;
    margin: 14px 0 5px 0;
  }
  .card-box p {
    font-size: 16px;
    min-width: 271px;
    margin-right: 32px;
  }
  .card-svg-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .card:hover .card-svg-box {
    background: #ffffff;
    border: 1px solid rgba(128, 128, 128, 1);
    fill: black;
  }
  .card-box .card-svg {
    width: 25px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .card:hover .card-svg {
    transform: rotate(0deg);
    fill: black;
    filter: invert(100%);
  }
}
