.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card:hover .card-img {
  transform: scale(1.06);
  border-radius: 10px;
}

.card {
  width: 525px;
  height: 535px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-img-box {
  border-radius: 10px;
  width: 525px;
  height: 424px;
  position: relative;
  overflow: hidden;
}
.card-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card h4 {
  color: #808080;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px 0 8px 0;
}

.card-box {
  display: flex;
  align-items: center;
}

.card-box p {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 447px;
  margin-right: 30px;
}
.card-svg-box {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.card:hover .card-svg-box {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  fill: black;
}
.card-box .card-svg {
  margin: 4px 0 0 4px;
  transition: transform 0.3s ease;
}

.card:hover .card-svg {
  transform: rotate(-45deg);
  fill: black;
  filter: invert(100%);
}

@media only screen and (max-width: 767px) {

  .card {
    width: 343px;
    height: 345px;
    margin-bottom: 10px;
    margin: 0 auto; 
  }
  .cards-container{
    display: flex;
    justify-content: center;
  }
  .card-img-box {
    width: 343px;
    height: 270px;
  }
  .card h4 {
    font-size: 14px;
    margin: 14px 0 5px 0;
  }
  .card-box p {
    font-size: 16px;
    width: 271px;
    margin-right: 32px;
  }
  .card-svg-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .card:hover .card-svg-box {
    background: #ffffff;
    border: 1px solid rgba(128, 128, 128, 1);
    fill: black;
  }
  .card-box .card-svg {
    width: 25px;
    transform: rotate(-45deg);
    margin: 1px 0 0 4px;
    transition: transform 0.3s ease;
  }

  .card:hover .card-svg {
    transform: rotate(0deg);
    fill: black;
    filter: invert(100%);
  }
}
