.they-say-container {
  padding-bottom: 10px;
  max-height: 39px;
  width: 40vw;
}
.they-say-card {
  display: flex !important;
  height: 35vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3vw;
  background: var(--black-2, #252525);
}
.they-say-card h3 {
  font-size: 1.7vw;
  font-weight: 400;
  line-height: 130%;
}
.they-say-card-box {
  display: flex;
  position: relative;
}
.they-say-card-box .they-say-card-box-img {
  width: 5vw;
  height: auto;
}
.they-say-box-text {
  padding: 10px 0 0 12px;
  width: 17vw;
}
.they-say-name {
  font-size: 1.5vw;
  font-weight: 600;
}
.they-say-text {
  font-size: 1.2vw;
  font-weight: 400;
}

/* Стили для слайдера */
.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
}
.slick-prev:hover,
.slick-next:hover {
  color: #ffffff;
}
.slick-dots li button:before {
  font-size: 14px;
  color: #666;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
}
.slick-track {
  display: flex;
  margin: 0 -10px;
}
.slick-slide {
  margin: 0 1vw;
}

/* Стили для кнопок */
.custom-prev-btn-they-say {
  transform: translateX(150%);
  border-radius: 50px;
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
  transition: background 0.5s ease;
}
.custom-next-btn-they-say {
  transform: translateX(160%);
  border-radius: 50px;
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
  transition: background 0.5s ease;
}
.custom-next-btn-they-say:hover,
.custom-prev-btn-they-say:hover {
  background: rgb(255, 255, 255);
  width: 3vw;
  height: 3vw;
}
.custom-btn-svg {
  margin-left: 9px;
}
.custom-prev-btn-they-say .custom-btn-svg,
.custom-next-btn-they-say .custom-btn-svg {
  fill: rgb(255, 255, 255);
  width: 1.5vw;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .they-say-container {
    padding-bottom: 10px;
    max-height: 332px;
    width: 343px;
  }
  .they-say-card {
    display: flex;
    min-height: 332px;
    height: 30px;
    gap: 5px;
    padding: 10px;
  }
  .they-say-card h3 {
    padding: 23px 10px;
    font-size: 16px;
    width: 300px;
  }
  .they-say-card-box {
    padding: 0 0 20px 10px;
  }
  .they-say-card-box .custom-prev-btn .custom-btn-svg,
  .they-say-card-box .custom-next-btn .custom-btn-svg {
    width: 20px;
    height: 20px;
  }
  .they-say-card-box .they-say-card-box-img {
    width: 40px;
    height: 40px;
  }
  .they-say-box-text {
    width: 25vw;
    padding: 0;
    padding-left: 10px;
  }
  .they-say-name {
    font-size: 16px;
  }
  .they-say-text {
    font-size: 12px;
  }
  .custom-prev-btn-they-say .custom-btn-svg,
  .custom-next-btn-they-say .custom-btn-svg {
    fill: rgb(255, 255, 255);
    width: 20px;
    height: auto;
  }
  /* Стили для слайдера */

  .slick-prev:hover,
  .slick-next:hover {
    color: #ffffff;
  }
  .slick-dots li button:before {
    font-size: 14px;
    color: #666;
  }
  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }
  .slick-track {
    display: flex;
    margin: 0 -10px;
  }
  .slick-list {
    max-height: 391px;
  }
  .slick-slide {
    width: 343px;
    height: 332px;
    margin: 0 13px;
  }
  .they-say-container .custom-prev-btn,
  .they-say-container .custom-next-btn {
    position: absolute;
    top: 29px;
    font-size: 24px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
  }
  .they-say-container .custom-prev-btn {
    right: calc(11% + 25px);
    transform: translateX(-50%);
  }
  .they-say-container .custom-next-btn {
    right: calc(11% + 15px);
    transform: translateX(50%);
    transform: translateX(50%);
  }

  /* Стили для кнопок */
  .custom-prev-btn-they-say {
    width: 20px;
    height: 20px;
    right: calc(11% + 25px);
    transform: translateX(-50%);
  }
  .custom-next-btn-they-say {
    width: 20px;
    height: 20px;
    right: calc(11% + 15px);
    transform: translateX(50%);
  }
  .custom-prev-btn-they-say:hover .custom-btn-svg,
  .custom-next-btn-they-say:hover .custom-btn-svg {
    color: #000000;
    filter: invert(100%);
    fill: rgb(255, 255, 255);
  }
}
