.design {
  background: var(--black-1, #121212);
  overflow: hidden;
}
.design-title {
  padding: 16vw 0 0 5vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 130%; /* 93.6px */
}
.design-box {
  padding: 84px 0 200px;
}
.design-box-descrip {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.design-box-descrip p {
  width: 100%;
}
.design-box-card {
  position: relative;
  display: flex;
  padding: 3.4vw 0 5vw;
  justify-content: space-around;
}
.design-box-card .box-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.design-box-card h3 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 7vw;
}
.design-box-title {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  width: 22vw;
}
.design-box-card p {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.design-box-line {
  height: 0.05vw;
  width: calc(100vw - 150px);
  margin: 0 auto;
  background: var(--gray-1, #808080);
}

/*---------------------------------------------------------------- Section tools */
.tools {
  padding-bottom: 10vw;
  padding-left: 5vw;
}
.tools-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 1.5em;
}
.tools-svg {
  margin-right: 3vw;
  width: 4vw;
  height: auto;
}

/*---------------------------------------------------------------- Section our-projects */
.experience {
  padding-bottom: 15vw;
}
.experience .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-box {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}
.experience-text {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin-left: 5vw;
}
.experience-btn {
  align-items: center;
  font-size: 1.5vw;
  font-weight: 500;
  padding: 18px 32px;
  align-self: flex-start;
  line-height: 130%; /* 26px */
  border-radius: 10px;
  display: flex;
  margin-right: 3.7vw;
  transition: background 0.3s ease, color 0.3s ease;
}
.experience-btn:hover {
  color: black;
  border-radius: 10px;
}
.experience-btn img {
  vertical-align: middle;
  filter: invert(0%);
  margin-left: 12px;
  width: 2vw;
  height: auto;
  transition: filter 0.3s ease;
}

.experience-btn:hover img {
  filter: invert(100%);
}

/*---------------------------------------------------------------- Section reviews */

.design-reviews {
  margin: 0 20vw 18vw 0;
}

/*---------------------------------------------------------------- Section reviews */
.design-request {
  padding-bottom: 20vw;
}

@media only screen and (max-width: 767px) {
  .design {
    background: var(--black-1, #121212);
    padding-left: 0;
  }
  .design-title {
    padding: 90px 0 0 20px;
    font-size: 36px;
  }
  .design-box {
    padding: 40px 0 100px;
    margin: 0 auto;
    max-width: 767px;
  }
  .design-box-card .box-text {
    height: auto;
    flex-direction: row;
    align-items: center;
  }
  .design-box-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 343px;
    padding: 20px 3vw 30px;
  }
  .design-box-descrip {
    width: 100%;
  }
  .design-box-card h3 {
    font-size: 16px;
    width: 25px;
    margin-right: 10px;
  }
  .design-box-card h4 {
    font-size: 20px;
    min-width: 266px;
  }
  .design-box-card p {
    font-size: 16px;
    min-width: 343px;
    width: 100%;
  }
  .design-box-line {
    width: 343px;
  }

  /*---------------------------------------------------------------- Section tools */
  .tools {
    padding-bottom: 10vw;
  }
  .tools-title {
    font-size: 24px;
    width: 317px;
    padding-bottom: 30px;
  }
  .tools-svg {
    margin-right: 30px;
  }
  .tools img {
    width: 40px;
    height: 40px;
  }

  /*---------------------------------------------------------------- Section our-projects */
  .experience {
    padding-bottom: 50px;
  }

  .experience-text {
    font-size: 24px;
    margin-right: 0px;
    max-width: 100%;
    text-align: center;
  }
  .experience-box {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
  }
  .experience-btn {
    display: none;
  }

  /*---------------------------------------------------------------- Section reviews */

  .design-reviews {
    margin: 0 0px 16px 0;
  }

  /*---------------------------------------------------------------- Section reviews */
  .design-request {
    padding-bottom: 10vw;
  }
}
@media only screen and (max-width: 997px) {
  .design-box-line {
    width: calc(100vw - 30px);
    min-width: 340px;
  }

  .experience-text {
    margin-right: 0;
  }
}
@media only screen and (min-width: 998px) and (max-width: 1024px) {
  .experience-box {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .experience-text {
    margin-right: 0;
    padding-left: 0;
  }
}
