.design {
  background: var(--black-1, #121212);
  overflow: hidden;
}
.design-title {
  padding: 16vw 0 3vw 0;
  font-size: 5vw;
  font-weight: 700;
  line-height: 130%; /* 93.6px */
}
.design-box-descrip {
  display: flex;
  flex-direction: column;
  width: 62%;
}
.design-box-descrip p {
  width: 100%;
}
.design-box-card {
  position: relative;
  display: flex;
  padding: 3.4vw 0 5vw;
  justify-content: space-between;
}
.design-box-card .box-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.design-box-card h3 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 7vw;
}
.design-box-title {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  width: 21vw;
}
.design-box-card p {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.design-box-line {
  height: 0.05vw;
  margin: 0 auto;
  background: var(--gray-1, #808080);
}

/*---------------------------------------------------------------- Section tools */
.tools .container {
  padding-top: 10vw;
}
.tools-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 1.5em;
}
.tools-svg {
  margin-right: 3vw;
  width: 4vw;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .design {
    background: var(--black-1, #121212);
    padding-left: 0;
  }
  .design-title {
    padding: 90px 0 0 0;
    font-size: 36px;
  }
  .design-box-card .box-text {
    height: auto;
    flex-direction: row;
    align-items: center;
  }
  .design-box-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 343px;
    padding: 20px 0 30px;
  }
  .design-box-descrip {
    width: 100%;
  }
  .design-box-card h3 {
    font-size: 16px;
    width: 25px;
    margin-right: 10px;
  }
  .design-box-card h4 {
    font-size: 20px;
    min-width: 266px;
  }
  .design-box-card p {
    font-size: 16px;
    min-width: 343px;
    width: 100%;
  }
  .design-box-line {
    width: 343px;
  }

  /*---------------------------------------------------------------- Section tools */
  .tools .container {
    padding-bottom: 0;
  }
  .tools-title {
    font-size: 24px;
    width: 317px;
    padding-bottom: 30px;
  }
  .tools-svg {
    margin-right: 30px;
  }
  .tools img {
    width: 40px;
    height: 40px;
  }


}
