@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  color: var(--White);
  font-family: "SF Pro Display", sans-serif !important;
  user-select: none;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
section {
  max-width: 1200px;
  min-width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 85vw;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.home-page {
  background: url("/home/home-bg.png") center/cover no-repeat,
    linear-gradient(#121212, #121212);
  overflow: hidden;
}
/*---------------------------------------------------------------- Section home */

.home-title {
  font-size: 5vw;
  font-weight: 700;
  min-width: 843px;
  width: 70%;
  padding: 10vw 0 40px 0;
}
.home-title span {
  color: var(--Primary, #e42652);
}
.home-text {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%;
  min-width: 660px;
  width: 55%;
  padding: 0 0 1em 0;
}
.home-box {
  display: flex;
  font-size: 1vw;
  align-items: center;
  gap: 10px;
}
.home-box-right {
  margin-left: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.home-box-right img {
  width: 6vw;
  height: 6vw;
}
.home-box-right p {
  font-size: 1.1vw;
  height: auto;
}
.home-btn {
  display: inline-flex;
  padding: 1em 2em;
  font-size: 1.3vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background: var(--Primary, #e42652);
  transition: background 0.3s ease, color 0.3s ease;
}
.home-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}

/*---------------------------------------------------------------- Section company */
.company {
  padding: 11vw 0 0 0;
}
.company .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.company-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  text-align: center;
  margin: 0 auto 2vw;
}
.company-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
  justify-content: center;
}
.company-box img {
  /* width: 15%; */
  height: auto;
}

/*---------------------------------------------------------------- Section team */
.team .container {
  padding: 15vw 0 0 0;
  display: flex;
  justify-content: center;
}
.team-box-right {
  margin-left: 10vw;
}
.team-box-left img {
  width: 40vw;
  height: auto;
}
.team h2 {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 8vw;
  width: 13em;
}
.team h3 {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  padding-bottom: 3vw;
  max-width: 39vw;
}
.team-box-right-text {
  display: none;
}
.team-box-row-min {
  display: none;
}
.team-btn {
  display: inline-flex;
  padding: 1em 2em;
  justify-content: center;
  font-size: 1.3vw;
  align-items: center;
  gap: 10px;
  border-radius: 0.5em;
  background: var(--Primary, #e42652);
  transition: background 0.3s ease, color 0.3s ease;
}
.team-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}
.team-box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 11vw;
}
.team-block-row {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.team-box-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2vw;
}
.row-number {
  font-size: 2.8vw;
  font-weight: 600;
  line-height: 130%; /* 54.6px */
}
.row-text {
  font-size: 1.5vw;
  color: #b7b7b7;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section our-service */
.our-service {
  padding-top: 15vw;
}
.our-service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-service h3 {
  color: #b7b7b7;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 40em;
  margin: 0 auto 0;
  padding-bottom: 3vw;
}
.our-service-title {
  font-size: 1.55vw;
  font-weight: 500;
  line-height: 130%;
  padding: 1.5vw 0 1vw;
}
.our-service-text {
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 130%;
  min-width: 17vw;
}
.our-service-img {
  height: auto;
  width: 1.7vw;
}
.our-service .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding-left: 0;
  padding-bottom: 4vw;
  justify-content: center;
}
.img-box {
  width: 4vw;
  display: flex;
  height: 4vw;
  background: var(--Primary, #e42652);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.col-4 .card-svg-box {
  display: none;
}
.col-4:hover .img-box {
  background: #ffffff;
}
.col-4:hover .our-service-img {
  filter: invert(100%);
}
.our-service .col-4 {
  display: flex;
  padding: 2vw 1.5vw 6vw;
  flex-direction: column;
  border-radius: 0.6vw;
  border: 3px solid rgb(224 224 224 / 12%);
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease, color 0.3s ease;
}
.our-service .col-4:hover {
  color: black;
  background: var(--Primary, #e42652);
}
.our-service-btn {
  padding: 1em 4em;
  font-size: 1.3vw;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 500;
  line-height: 130%; /* 26px */
  display: inline-flex;
  min-width: 225px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--White, #fff);
  transition: background 0.3s ease, color 0.3s ease;
}
.our-service-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}

/*---------------------------------------------------------------- Section our-projects */
.our-projects {
  padding-top: 15vw;
}
.our-projects-box {
  display: flex;
  margin-bottom: 3vw;
  justify-content: space-between;
  align-items: center;
}
.our-projects h2 {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin-bottom: 1vw;
}
.our-projects h3 {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 80%;
}
.our-projects-btn {
  align-items: center;
  border-radius: 0.5vw;
  padding: 1em 2em;
  height: 100%;
  font-size: 1.3vw;
  line-height: 130%;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
}
.our-projects-btn-min {
  display: none;
}
.our-projects-btn:hover {
  color: black;
  border-radius: 0.5vw;
  background: var(--Primary, #ffffff);
}
.our-projects-btn img {
  vertical-align: middle;
  filter: invert(0%);
  margin-left: 0.5vw;
  transition: filter 0.3s ease;
  width: 2vw;
  height: auto;
}
.our-projects-btn:hover img {
  filter: invert(100%);
}

/*---------------------------------------------------------------- Section reviews */
.reviews {
  padding-top: 15vw;
}
.reviews-box {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 4vw;
}
.reviews-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin-right: 3vw;
}
.reviews-text {
  color: #b7b7b7;
  margin-top: 6px;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section request */
.request {
  margin: 15vw 0 0 0;
  padding-bottom: 15vw;
}

@media only screen and (max-width: 767px) {
  .home-page {
    background: url("/home/home-bg-min.png") center/cover no-repeat,
      linear-gradient(#121212, #121212);
  }
  /*---------------------------------------------------------------- Section home */

  .home-title {
    font-size: 36px;
    min-width: 348px;
    padding: 86px 0 24px 0;
  }
  .home-text {
    font-size: 16px;
    padding: 0 0 24px 0;
    min-width: 343px;
  }
  .home-box {
    display: block;
  }
  .home-box-right {
    margin-top: 16px;
    margin-left: 0;
  }
  .home-btn {
    font-size: 16px;
    padding: 12px 32px;
  }
  .home-box-right img {
    min-width: 75px;
    height: auto;
  }
  .home-box-right p {
    font-size: 14px;
  }

  /*---------------------------------------------------------------- Section company */
  .company {
    padding: 85px 0 0 0;
    scroll-behavior: smooth;
  }
  .company-title {
    font-size: 24px;
    margin: 0 auto 24px;
  }
  .company-box {
    gap: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .company-box img {
    min-width: 90px;
  }
  .company-box::-webkit-scrollbar {
    display: none;
  }
  .company-box {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  /*---------------------------------------------------------------- Section our-service */
  .our-service {
    padding-top: 68px;
  }
  .our-service h2 {
    font-size: 24px;
    padding-bottom: 12px;
  }
  .our-service h3 {
    font-size: 16px;
    width: 100%;
    padding-bottom: 0;
    margin: 0 auto 40px;
  }
  .our-service .col-4 {
    border-radius: 10px;
    min-width: 340px;
    padding: 28px 1.5vw 28px;
  }
  .our-service-title {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
  }
  .our-service-text {
    text-align: center;
    font-size: 16px;
  }
  .our-service .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding-left: 0;
  }
  .img-box {
    margin: 15px auto 20px;
    width: 60px;
    height: 60px;
  }
  .our-service-img {
    height: auto;
    width: 26px;
  }
  .col-4 .card-svg-box {
    display: flex;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
  }
  .card-svg-box .card-svg {
    margin: 3px;
    width: 20px;
  }
  .col-4:hover .img-box {
    background: #ffffff;
  }
  .col-4:hover .our-service-img {
    filter: invert(100%);
  }
  .our-service-btn {
    display: flex;
    font-size: 16px;
    width: 207px;
    padding: 12px 62px;
    margin: 20px auto 0 auto;
  }

  /*---------------------------------------------------------------- Section our-projects */
  .our-projects {
    padding: 100px 0 0 0;
  }
  .our-projects-box {
    display: inline-flex;
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .our-projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-projects h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .our-projects h3 {
    font-size: 16px;
  }
  .our-projects-btn {
    display: none;
  }
  .our-projects-btn-min {
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    line-height: 130%; /* 26px */
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--White, #fff);
    margin: 40px 20% 0;
    width: 220px;
  }
  .our-projects-btn-min p {
    width: 132px;
  }
  .our-projects-btn-min:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .our-projects-btn-min img {
    vertical-align: middle;
    filter: invert(0%);
    margin-left: 12px;
    transition: filter 0.3s ease;
  }

  .our-projects-btn-min:hover img {
    filter: invert(100%);
  }

  /*---------------------------------------------------------------- Section reviews */
  .reviews {
    padding: 100px 0 0;
  }
  .reviews-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: baseline;
  }
  .reviews-title {
    font-size: 24px;
    margin-right: 0px;
  }
  .reviews-text {
    margin-top: 10px;
    font-size: 16px;
  }
  /*---------------------------------------------------------------- Section request */
  .request {
    margin: 100px 0 0 0;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 931px) {
  /*---------------------------------------------------------------- Section team */

  .team .container {
    flex-direction: column;
  }
  .row-number {
    font-size: 30px;
    text-align: center;
  }
  .row-text {
    font-size: 16px;
    text-align: center;
  }
  .team h3 {
    font-size: 16px;
    max-width: max-content;
  }
  .team h2 {
    padding-bottom: 20px;
    min-width: 343px;
    font-size: 24px;
  }
  .team-box-right-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .team-box-right-text h3 .team-box-left {
    display: block;
  }
  .team-box-left img {
    width: 98%;
    margin-top: 30px;
  }
  .team-btn {
    font-size: 16px;
    width: 193px;
    padding: 12px 32px;
  }
  .team-box-right h3,
  .team-box-right a {
    display: none;
  }
  .team-box-row {
    gap: 10vw;
  }
  .team-block-row {
    gap: 5vw;
  }
  .team-box-col {
    align-items: center;
  }
  .team-box-right {
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 931px) {
  .team-box-right-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    background: url("/home/home-bg-min.png") center/cover no-repeat;
    width: 100%;
  }
  /*---------------------------------------------------------------- Section home */

  .home-title {
    min-width: 490px;
    padding: 92px 0 24px 0;
  }
  .home-text {
    font-size: 16px;
    min-width: 443px;
  }
  .home-box-right {
    margin-left: 0;
  }
  .home-btn {
    padding: 12px 32px;
    font-size: 16px;
  }
  .home-box-right p {
    font-size: 14px;
  }
  /*---------------------------------------------------------------- Section company */
  .company {
    padding: 85px 0 0 0;
    scroll-behavior: smooth;
  }
  .company-title {
    font-size: 24px;
    margin: 0 auto 24px;
  }
  .company-box {
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
  .company-box img {
   min-width: 90px;
  }
  .company-box::-webkit-scrollbar {
    display: none;
  }
  .company-box {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /*---------------------------------------------------------------- Section team */

  .team .container {
    display: flex;
  }
  .team h2 {
    font-size: 24px;
    padding-bottom: 12px;
    width: 70%;
  }
  .team h3 {
    font-size: 16px;
    width: 343px;
    padding-bottom: 24px;
  }
  .team-btn {
    display: inline-flex;
    font-size: 16px;
    padding: 12px 32px;
    height: 45px;
  }
  .team-btn:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .team-box-row {
    gap: 20vw;
    margin-top: 50px;
  }
  .row-number {
    font-size: 30px;
  }
  .row-text {
    font-size: 16px;
  }

  /*---------------------------------------------------------------- Section our-service */
  .our-service {
    padding-top: 68px;
  }
  .our-service h3 {
    font-size: 16px;
    width: 515px;
    padding-bottom: 0;
    margin: 0 auto 40px;
  }
  .our-service-title {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
  }
  .our-service-text {
    text-align: center;
    font-size: 16px;
  }
  .our-service .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding-left: 0;
  }
  .our-service .col-4 {
    border-radius: 10px;
    min-width: 340px;
    padding: 28px 1.5vw 28px;
  }
  .img-box {
    margin: 15px auto 20px;
    width: 7vw;
    height: 7vw;
  }
  .col-4 .card-svg-box {
    display: flex;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
  }
  .card-svg-box .card-svg {
    margin: 3px;
    width: 20px;
  }
  .our-service-img {
    height: auto;
    width: 3.5vw;
  }
  .col-4:hover .img-box {
    background: #ffffff;
  }
  .col-4:hover .our-service-img {
    filter: invert(100%);
  }
  .our-service-btn {
    font-size: 16px;
    width: 207px;
    padding: 12px 62px;
    margin: 20px auto 0 auto;
  }

  /*---------------------------------------------------------------- Section our-projects */

  .our-projects-box {
    display: inline-flex;
    margin-bottom: 40px;
  }
  .our-projects-text {
    align-items: flex-start;
  }
  .our-projects h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .our-projects h3 {
    font-size: 16px;
  }
  .our-projects-btn {
    display: none;
  }
  .our-projects-btn-min {
    align-items: center;
    color: var(--White, #fff);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    line-height: 130%; /* 26px */
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--White, #fff);
    margin: 40px 40% 0;
    width: 220px;
  }
  .our-projects .container {
    flex-direction: column;
    align-items: center;
  }
  .our-projects-btn-min p {
    width: 132px;
  }
  .our-projects-btn-min:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .our-projects-btn-min img {
    vertical-align: middle;
    filter: invert(0%);
    margin-left: 12px;
    transition: filter 0.3s ease;
  }
  .our-projects-btn-min:hover img {
    filter: invert(100%);
  }

  /*---------------------------------------------------------------- Section reviews */
  .reviews {
    margin: 100px 16px 100px;
  }
  .reviews-box {
    flex-direction: column;
    padding-bottom: 40px;
    align-items: baseline;
  }
  .reviews-title {
    font-size: 24px;
    margin-left: 22px;
    margin-right: 0;
  }
  .reviews-text {
    margin-top: 10px;
    font-size: 16px;
  }
  /*---------------------------------------------------------------- Section request */
  .request {
    margin: 100px 0 0 0;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .our-projects {
    padding: 200px 0 0;
  }
  .our-service .row {
    padding: 0;
    flex-wrap: wrap;
  }
  .our-projects-box {
    margin-bottom: 60px;
    justify-content: space-between;
  }
  .our-service-btn {
    margin: 60px 0 0;
    width: 227px;
  }
}

@media screen and (min-width: 2000px) {
  section {
    max-width: 2000px;
    padding: 0 200px;
  }
}
