@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769");

*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
color: white
}
html {
  color: var(--White);
  font-family: "SF Pro Display", sans-serif !important;
}
/* body{
  background: var(--black-1, #121212);
} */

a {
  text-decoration: none;
  cursor: pointer;
}
.home{
  /* height: 500px; */
  background: url('/home/home-bg.png') center/cover no-repeat;
}
.home-title{
  color: var(--White, #FFF);
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 200px;
margin: 0 0 40px 180px;

}
.home-title span {
  color: var(--Primary, #E42652);
}
.home-text{
  color: var(--White, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
margin: 0 0 40px 180px;
}
.home-box{
gap: 10px;
margin-left: 180px;
}
.home-btn{
  display: inline-flex;
padding: 18px 32px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--Primary, #E42652);
transition: background 0.3s ease, color 0.3s ease;
}
.home-btn:hover{
color: black;
background: var(--Primary, #ffffff);
}