@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  color: var(--White);
  font-family: "SF Pro Display", sans-serif !important;
  user-select: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home-page {
  background: url("/home/home-bg.png") center/cover no-repeat;
  overflow: hidden;
}
/*---------------------------------------------------------------- Section home */

.home-title {
  color: var(--White, #fff);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 843px;
  padding: 200px 0 40px 180px;
}
.home-title span {
  color: var(--Primary, #e42652);
}
.home-text {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 660px;
  padding: 0 0 40px 180px;
}
.home-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 180px;
}
.home-box-right {
  margin-left: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.home-btn {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Primary, #e42652);
  transition: background 0.3s ease, color 0.3s ease;
}
.home-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}

/*---------------------------------------------------------------- Section company */
.company {
  padding: 170px 0 0 0;
}
.company-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  text-align: center;
  margin: 0 auto 30px;
}
.company-box {
  display: flex;
  gap: 16px;
  padding-left: 180px;
}

/*---------------------------------------------------------------- Section team */
.team {
  padding: 200px 0 0 180px;
}
.team .container {
  display: flex;
}
.team-box-right {
  margin-left: 100px;
}
.team h2 {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 100px;
  width: 423px;
}
.team h3 {
  color: var(--White, #d7d7d7);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  padding-bottom: 32px;
  width: 539px;
}
.team-box-right-text {
  display: none;
}
.team-box-row-min {
  display: none;
}
.team-btn {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Primary, #e42652);
  transition: background 0.3s ease, color 0.3s ease;
}
.team-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}
.team-box-row {
  gap: 100px;
  margin-top: 100px;
}
.team-box-row .row {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
}
.team-box-row .col-6 {
  width: 217px;
}

.row-number {
  color: var(--White, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 54.6px */
}
.row-text {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section our-service */
.our-service {
  padding-top: 150px;
}
.our-service h2 {
  color: var(--White, #fff);
  font-size: 36px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 16px;
}
.our-service h3 {
  color: var(--White, #fff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 800px;
  margin: 0 auto 0;
  padding-bottom: 60px;
}
.our-service-title {
  color: var(--White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  padding: 30px 0 12px;
  /* margin-top: 30px;
  margin-bottom: 12px; */
}
.our-service-text {
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.our-service .row {
  display: inline-flex;
  gap: 30px;
  padding-left: 180px;
}
.img-box {
  width: 60px;
  height: 60px;
  background: var(--Primary, #e42652);
  border-radius: 50%;
  padding-top: 15.5px;
  padding-left: 15px;
}
.col-4 .card-svg-box {
  display: none;
}
.col-4:hover .img-box {
  background: #ffffff;
}

.col-4:hover .our-service-img {
  filter: invert(100%);
}
.our-service .col-4 {
  display: flex;
  width: 340px;
  height: 317px;
  padding: 28px 20px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(224, 224, 224, 0);
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease, color 0.3s ease;
}
.our-service .col-4:hover {
  color: black;
  background: var(--Primary, #e42652);
}
.our-service-btn {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  display: inline-flex;
  padding: 18px 62px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--White, #fff);
  text-align: center;
  margin: 60px 0 0 630px;
  transition: background 0.3s ease, color 0.3s ease;
}
.our-service-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
}

/*---------------------------------------------------------------- Section our-projects */
.our-projects {
  padding: 200px 0 0 0px;
}
.our-projects-box {
  display: inline-flex;
  margin-bottom: 60px;
  padding-left: 180px;
}
.our-projects-text {
  margin-right: 330px;
}
.our-projects h2 {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin-bottom: 16px;
}
.our-projects h3 {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 515px;
}
.our-projects-btn {
  align-items: center;
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 18px 32px;
  align-self: flex-start;
  line-height: 130%; /* 26px */
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
}
.our-projects-btn-min {
  display: none;
}
.our-projects-btn:hover {
  color: black;
  background: var(--Primary, #ffffff);
  border-radius: 10px;
}
.our-projects-btn img {
  vertical-align: middle;
  filter: invert(0%);
  margin-left: 12px;
  transition: filter 0.3s ease;
}

.our-projects-btn:hover img {
  filter: invert(100%);
}

/*---------------------------------------------------------------- Section reviews */
.reviews {
  margin: 210px 180px 180px;
}
.reviews-box {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}
.reviews-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin-right: 42px;
}
.reviews-text {
  margin-top: 6px;
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section request */
.request {
  margin: 200px 0 0 0px;
  padding-bottom: 200px;
}

@media only screen and (max-width: 767px) {
  .home-page {
    background: url("/home/home-bg-min.png") center/cover no-repeat;
  }
  /*---------------------------------------------------------------- Section home */

  .home-title {
    font-size: 36px;
    width: 348px;
    padding: 86px 0 24px 16px;
  }
  .home-text {
    font-size: 16px;
    padding: 0 0 24px 16px;
    width: 343px;
  }
  .home-box {
    display: block;
    padding-left: 16px;
  }
  .home-box-right {
    margin-top: 16px;
    margin-left: 0;
  }
  .home-btn {
    padding: 12px 32px;
  }
  .home-box-right p {
    font-size: 14px;
  }
  /*---------------------------------------------------------------- Section company */
  .company {
    padding: 85px 0 0 0;
    scroll-behavior: smooth;
  }
  .company-title {
    font-size: 24px;
    margin: 0 auto 24px;
  }
  .company-box {
    gap: 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 0px;
    margin-left: -10px;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
  }
  .company-box img {
    width: 108px;
    height: 40px;
  }
  .company-box::-webkit-scrollbar {
    display: none;
  }
  .company-box {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  /*---------------------------------------------------------------- Section our-service */
  .our-service {
    padding-top: 68px;
  }
  .our-service h2 {
    font-size: 24px;
    padding-bottom: 12px;
  }
  .our-service h3 {
    font-size: 16px;
    width: 343px;
    padding-bottom: 0;
    margin: 0 auto 40px;
  }
  .our-service-title {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
  }
  .our-service-text {
    text-align: center;
    font-size: 16px;
  }
  .our-service .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
  }
  .img-box {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .col-4 .card-svg-box {
    display: flex;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
  }
  .card-svg-box .card-svg {
    margin: 3px;
  }
  .col-4:hover .img-box {
    background: #ffffff;
  }

  .col-4:hover .our-service-img {
    filter: invert(100%);
  }

  .our-service-btn {
    display: flex;
    font-size: 16px;
    width: 207px;
    padding: 12px 62px;
    margin: 20px auto 0 auto;
  }

  /*---------------------------------------------------------------- Section our-projects */
  .our-projects {
    padding: 100px 0 0 0;
  }
  .our-projects-box {
    display: inline-flex;
    margin-bottom: 40px;
  }
  .our-projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-projects-text {
    margin-right: 0px;
    margin-left: 3px;
  }
  .our-projects h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .our-projects h3 {
    font-size: 16px;
    width: 345px;
  }
  .our-projects-btn {
    display: none;
  }
  .our-projects-btn-min {
    align-items: center;
    color: var(--White, #fff);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    line-height: 130%; /* 26px */
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--White, #fff);
    margin: 40px 20% 0;
    width: 220px;
  }
  .our-projects-btn-min p {
    width: 132px;
  }
  .our-projects-btn-min:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .our-projects-btn-min img {
    vertical-align: middle;
    filter: invert(0%);
    margin-left: 12px;
    transition: filter 0.3s ease;
  }

  .our-projects-btn-min:hover img {
    filter: invert(100%);
  }

  /*---------------------------------------------------------------- Section reviews */
  .reviews {
    margin: 100px 16px 100px;
  }
  .reviews-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: baseline;
  }
  .reviews-title {
    font-size: 24px;
    margin-left: 22px;
    margin-right: 0px;
  }
  .reviews-text {
    margin-top: 10px;
    font-size: 16px;
  }
  /*---------------------------------------------------------------- Section request */
  .request {
    margin: 100px 0 0 0;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 931px) {
  /*---------------------------------------------------------------- Section team */
  .team {
    padding: 100px 0 0 0px;
  }
  .team .container {
    display: flex;
    flex-direction: column;
  }
  .row-number {
    font-size: 30px;
    text-align: center;
  }
  .row-text {
    font-size: 16px;
    text-align: center;
  }
  .team h2 {
    font-size: 24px;
    padding-bottom: 12px;
    width: 343px;
    padding-left: 16px;
  }
  .team h3 {
    font-size: 16px;
    width: 343px;
    padding-bottom: 24px;
    padding-left: 16px;
  }
  .team-box-right-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .team-box-left {
    display: block;
  }
  .team-box-left img {
    width: 100%;
    margin-top: 30px;
  }
  .team-btn {
    display: inline-flex;
    font-size: 16px;
    padding: 12px 32px;
    height: 45px;
    width: 193px;
    margin-left: 16px;
  }
  .team-btn:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .team-box-right h3,
  .team-box-right a {
    display: none;
  }
  .team-box-row .row {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
  }
  .team-box-row {
    gap: 0px;
    margin-top: 50px;
  }
  .team-box-row-min {
    padding-top: 30px;
  }
  .team-box-row-min .row {
    display: flex;
    gap: 18px;
    margin-bottom: 32px;
  }
  .team-box-row-min .col-6 {
    width: 162.5px;
  }
  .team-box-row-min .row-number {
    text-align: center;
    font-size: 30px;
  }
  .team-box-row-min .row-text {
    text-align: center;
    font-size: 16px;
  }
  .team-box-right {
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
}

/*---------------------------------------------------------------- Section company */

/*---------------------------------------------------------------- Section team */

/*---------------------------------------------------------------- Section our-service */

/*---------------------------------------------------------------- Section our-projects */

/*---------------------------------------------------------------- Section reviews */

/*---------------------------------------------------------------- Section request */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    background: url("/home/home-bg-min.png") center/cover no-repeat;
    width: 100%;
  }
  /*---------------------------------------------------------------- Section home */

  .home-title {
    font-size: 40px;
    width: 490px;
    padding: 92px 0 24px 30px;
  }
  .home-text {
    font-size: 16px;
    padding: 0 0 24px 30px;
    width: 443px;
  }
  .home-box {
    padding-left: 30px;
  }
  .home-box-right {
    margin-top: 1px;
    margin-left: 0;
  }
  .home-btn {
    padding: 12px 32px;
  }
  .home-box-right p {
    font-size: 14px;
  }
  /*---------------------------------------------------------------- Section company */
  .company {
    padding: 85px 0 0 0;
    scroll-behavior: smooth;
  }
  .company-title {
    font-size: 24px;
    margin: 0 auto 24px;
  }
  .company-box {
    display: flex;
    gap: 16px;
    padding-left: 1px;
    justify-content: center;
  }
  .company-box img {
    width: 108px;
    height: 40px;
  }

  /*---------------------------------------------------------------- Section team */
  .team {
    padding: 100px 0 0 30px;
  }
  .team .container {
    display: flex;
  }
  .team-box-right-text {
    display: none;
  }
  .team h2 {
    font-size: 24px;
    padding-bottom: 12px;
    width: 343px;
  }
  .team h3 {
    font-size: 16px;
    width: 343px;
    padding-bottom: 24px;
  }
  .team-box-left img {
    width: 380px;
  }
  .team-btn {
    display: inline-flex;
    font-size: 16px;
    padding: 12px 32px;
    height: 45px;
  }
  .team-btn:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }

  .team-box-row {
    gap: 0;
    margin-top: 50px;
  }
  .team-box-row .row {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
  }
  .team-box-row .col-6 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .row-number {
    font-size: 30px;
  }
  .row-text {
    font-size: 16px;
  }
  */


  /*---------------------------------------------------------------- Section our-service */
  .our-service {
    padding-top: 68px;
  }
  .our-service h2 {
    font-size: 24px;
    padding-bottom: 12px;
  }
  .our-service h3 {
    font-size: 16px;
    width: 515px;
    padding-bottom: 0;
    margin: 0 auto 40px;
  }
  .our-service-title {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
  }
  .our-service-text {
    text-align: center;
    font-size: 16px;
  }
  .our-service .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
  }
  .img-box {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .col-4 .card-svg-box {
    display: flex;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
  }
  .card-svg-box .card-svg {
    margin: 3px;
  }
  .col-4:hover .img-box {
    background: #ffffff;
  }

  .col-4:hover .our-service-img {
    filter: invert(100%);
  }

  .our-service-btn {
    display: flex;
    font-size: 16px;
    width: 207px;
    padding: 12px 62px;
    margin: 20px auto 0 auto;
  }

  /*---------------------------------------------------------------- Section our-projects */
  .our-projects {
    padding: 200px 0 0 0;
  }
  .our-projects-box {
    display: inline-flex;
    margin-bottom: 40px;
  }
  .our-projects-text {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-projects h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .our-projects h3 {
    font-size: 16px;
    text-align: center;
  }
  .our-projects-btn {
    display: none;
  }
  .our-projects-btn-min {
    align-items: center;
    color: var(--White, #fff);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    line-height: 130%; /* 26px */
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--White, #fff);
    margin: 40px 40% 0;
    width: 220px;
  }
  .our-projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-projects-btn-min p {
    width: 132px;
  }
  .our-projects-btn-min:hover {
    color: black;
    background: var(--Primary, #ffffff);
  }
  .our-projects-btn-min img {
    vertical-align: middle;
    filter: invert(0%);
    margin-left: 12px;
    transition: filter 0.3s ease;
  }

  .our-projects-btn-min:hover img {
    filter: invert(100%);
  }

  /*---------------------------------------------------------------- Section reviews */
  .reviews {
    margin: 100px 16px 100px;
  }
  .reviews-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: baseline;
  }
  .reviews-title {
    font-size: 24px;
    margin-left: 22px;
    margin-right: 0px;
  }
  .reviews-text {
    margin-top: 10px;
    font-size: 16px;
  }
  /*---------------------------------------------------------------- Section request */
  .request {
    margin: 100px 0 0 0;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .our-projects {
    padding: 200px 0 0 0px;
  }
  .our-service .row {
    gap: 30px;
    display: flex;
    padding: 0 0 0 1px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .our-projects-text {
    margin-right: 0px;
    padding-left: 30px;
  }
  .our-projects-box {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }
  .our-service-btn {
    margin: 60px 0 0 0px;
    width: 227px;
  }
  .our-service .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
