.footer {
  border-top: 1px solid var(--black-2, #252525);
  background: var(--Black-3, #1A1A1A);
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-col-4 {
  display: flex;
  flex-direction: column;
}
.footer-box-none {
  display: flex;
  flex-direction: column;
}
.footer-box {
  padding: 4vw 7vw;
}
.bottom-box {
  display: flex;
  padding-top: 120px;
  align-items: center;
}
.footer-title {
  margin-bottom: 1vw;
  color: #808080;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.footer-col-4 img {
  margin-right: 0.7vw;
  height: auto;
  width: 1.5vw;
}
.bottom-box .header-logo {
  width: 6vw;
  height: auto;
}
.footer-link,
.social-link,
.footer-contacts-link {
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 130%;
}
.footer-link {
  margin-bottom: 1.2vw;
}
.social-link {
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
}
.footer-contacts-link {
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
}
.bottom-box p {
  color: #808080;
  font-size: 1.3vw;
  font-weight: 400;
}
.bottom-box-text {
  margin: 0 77px 0 32px;
}

@media only screen and (max-width: 767px) {
  .footer-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .footer-col-4 {
    display: flex;
    flex-direction: column;
  }
  .footer-box-none {
    display: none;
  }
  .footer-box {
    padding: 24px 0px;
  }
  .bottom-box {
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
  }
  .footer-title {
    margin-bottom: 18px;
    font-size: 14px;
  }
  .footer-col-4 img {
    margin-right: 10px;
    width: 13px;
  }
  .bottom-box .header-logo {
    width: 65px;
    height: auto;
  }
  .footer-link,
  .social-link,
  .footer-contacts-link {
    font-size: 14px;
  }
  .footer-link {
    margin-bottom: 20px;
  }
  .social-link {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .footer-contacts-link {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  .bottom-box p {
    font-size: 12px;
    display: flex;
    text-align: center;
  }
  .bottom-box img {
    margin-bottom: 24px;
  }
  .bottom-box-text {
    margin: 0 0 12px 0;
    width: 343px;
  }
}
