.about-us {
  background: var(--black-1, #121212);
  overflow: hidden;
}
.about .container {
  padding-top: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-box {
  width: 50vw;
}
.about-box-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 3vw;
}
.about-box-text-min {
  display: none;
}
.about-box-title span {
  color: var(--Primary, #e42652);
}
.about-box-text p {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  min-width: 368px;
  width: 85%;
  padding-bottom: 24px;
}
.about-img {
  height: 27vw;
  width: 27vw;
}
/*---------------------------------------------------------------- Section us */

.us {
  padding: 7vw 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.us-box {
  display: flex;
  gap: 1.7vw;
}
.us-block {
  display: flex;
  padding: 2vw 0;
  flex-direction: column;
  gap: 0.5vw;
  flex: 1 0;
  border-radius: 0.8vw;
  border: 0.08vw solid rgb(224 224 224 / 19%);
  background: rgba(255, 255, 255, 0.05);
  min-width: 154px;
  width: 17vw;
  align-items: center;
  justify-content: center;
}
.us-number {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
}
.us-text {
  color: #b7b7b7;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section principles */
.principles .container {
  display: flex;
  flex-direction: column;
}
.principles-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
}
.principles-box {
  padding: 2vw 0 13vw;
}
.principles-card .box-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5vw;
}
.principles-card {
  position: relative;
  display: flex;
  padding: 3.4vw 0 5vw;
  justify-content: space-between;
}
.principles-card h3 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%;
  display: flex;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  padding: 16px 17px;
  background: var(--Primary, #e42652);
  align-items: center;
  justify-content: center;
}
.principles-card h4 {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 130%;
  width: 21vw;
}
.principles-card p {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 58%;
}

/*---------------------------------------------------------------- Section about-team */
.about-team {
  padding-bottom: 10vw;
}
.about-team .slide {
  width: 20vw !important;
  height: 20vw;
}
.about-team h3 {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: 46vw;
}

/*---------------------------------------------------------------- Section offer */
.offer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vw;
}
.offer-title {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
}
.offer-box {
  padding: 4vw 0 5vw;
  display: flex;
  gap: 4vw;
  text-align: center;
}
.offer-block img {
  width: 6vw;
  height: auto;
}
.offer-block p {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  width: 16vw;
  padding-top: 1vw;
}

/*---------------------------------------------------------------- Section story */
.story {
  padding: 14vw 0 20vw;
}
.story h3 {
  padding-bottom: 3vw;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: 50%;
}
.story-boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.story-box {
  padding-top: 2vw;
  display: flex;
  gap: 2vw;
  text-align: center;
}
.story-block {
  min-width: 340px;
  width: 100%;
  height: 25vw;
  border-radius: 1vw;
  border: 0.09vw solid rgba(224, 224, 224, 0.2);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  padding: 4.5vw 1vw 2vw;
  flex-direction: column;
  align-items: center;
}
.story-line {
  width: 10vw;
  height: 0.6vw;
  border-radius: 10px;
  background: var(--Primary, #e42652);
}
.story-block h4 {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  min-width: 300px;
  width: 74%;
  padding: 2vw 0 1.5vw;
}
.story-block p {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 400;
  width: 100%;
}

/*---------------------------------------------------------------- Section they-say-they-ask */
.they-say-they-ask {
  padding-bottom: 20vw;
}
.say-ask-box {
  display: flex;
}
.say-ask-box h4 {
  display: none;
}
.they-say-they-ask-title {
  display: flex;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 3vw;
}
.they-say-they-ask-title h3 {
  padding: 0 24.5vw 0 0;
}
.they-ask-link {
  display: flex;
  align-items: center;
}
.they-ask-box {
  height: 35vw;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.they-ask-box h3 {
  display: none;
}
.they-ask p {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  padding-left: 24px;
}
.simple-box-slider {
  display: flex;
  justify-content: space-between;
}
.they-ask-title {
  font-size: 2vw;
  font-weight: 400;
}
.they-say-they-ask .slick-list {
  overflow: hidden;
}
.they-ask-link p {
  padding-left: 24px;
  font-size: 1.5vw;
}

@media only screen and (max-width: 767px) {
  /*---------------------------------------------------------------- Section about-us */

  .about-us {
    background: var(--black-1, #121212);
    padding-left: 0px;
  }
  .about .container {
    padding-top: 86px;
    flex-direction: column;
  }
  .about-box-title {
    font-size: 24px;
    padding-bottom: 40px;
  }
  .about-img {
    width: 100%;
  }
  .about-box-text-min {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width: 100%;
  }
  .about-box {
    width: 100%;
  }
  .about-box-text-min p {
    font-size: 16px;
    width: 100%;
    padding-bottom: 16px;
  }
  .about-box-text {
    padding-right: 0px;
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
  }

  /*---------------------------------------------------------------- Section us */
  .us {
    padding: 100px 0 100px;
  }
  .us-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .us-block {
    padding: 24px 0px;
    width: 260px;
    border-radius: 10px;
  }
  .us-number {
    font-size: 24px;
  }
  .us-text {
    font-size: 16px;
  }

  /*---------------------------------------------------------------- Section principles */
  .principles-title {
    display: flex;
    font-size: 24px;
    width: 91%;
  }
  .principles-box {
    padding: 20px 0 100px;
  }
  .principles-card {
    padding: 20px 0 40px;
    flex-direction: column;
  }
  .principles-card .box-text {
    align-items: center;
    width: 90%;
    padding-bottom: 16px;
  }
  .principles-card h3 {
    font-size: 18px;
    width: 40px;
    height: 40px;
    padding: 9px 10px;
  }
  .principles-card h4 {
    font-size: 20px;
    width: 261px;
  }
  .principles-card p {
    font-size: 16px;
    width: 90%;
  }

  /*---------------------------------------------------------------- Section about-team */
  .about-team {
    padding-bottom: 100px;
  }
  .about-team h3 {
    font-size: 24px;
    width: 80%;
  }

  /*---------------------------------------------------------------- Section offer */
  .offer-title {
    padding-top: 100px;
    font-size: 24px;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .offer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .offer-box {
    padding: 40px 0 24px;
    display: flex;
    gap: 24px;
    margin-right: 30px;
    text-align: center;
    flex-direction: column;
  }
  .offer-block {
    width: 156.5px;
    height: 129px;
  }
  .offer-block p {
    font-size: 16px;
    width: 156.5px;
  }
  .offer-block img {
    width: 60px;
    height: 60px;
  }

  /*---------------------------------------------------------------- Section they-say-they-ask */
  .they-say-they-ask {
    padding-bottom: 100px;
  }
  .say-ask-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .say-ask-box h4 {
    font-size: 24px;
    display: flex;
    padding-bottom: 40px;
  }
  .they-say-they-ask-title {
    display: none;
  }
  .they-ask-link {
    display: flex;
    align-items: center;
    padding-top: 48px;
  }
  .they-ask-box {
    height: 495px;
    margin-left: 30px;
  }
  .they-ask-box h3 {
    display: flex;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 100px;
  }
  .they-ask p {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    padding-left: 24px;
  }
  .simple-box-slider {
    display: flex;
    flex-direction: column;
  }
  .they-ask-title {
    width: 343px;
    font-size: 16px;
    padding-top: 20px;
  }
  .they-ask-link {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
  }
  .they-ask-link .home-btn {
    width: 343px;
  }
  .they-ask-link p {
    font-size: 14px;
    padding-left: 0px;
    padding-top: 14px;
  }
}
@media only screen and (max-width: 1120px) {
  /*---------------------------------------------------------------- Section story */
  .story {
    padding: 76px 0 70px;
    overflow: hidden;
  }
  .story h3 {
    padding-bottom: 0px;
    font-size: 24px;
    width: 100%;
  }
  .story-box {
    gap: 20px;
    height: 300px;
    flex-wrap: nowrap;
    min-width: 340px;
    flex: 0 0 auto;
  }
  .story-boxes::-webkit-scrollbar {
    display: none;
  }
  .story-boxes {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .story-boxes {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
  }
  .story-block {
    flex: 0 0 auto;
    width: 245px;
    min-width: 275px;
    padding: 6vw 0 1.6vw;
    height: 241px;
  }
  .story-line {
    width: 80px;
    height: 6px;
  }
  .story-block h4 {
    font-size: 18px;
    padding: 24px 40px 12px;
  }
  .story-block p {
    font-size: 14px;
    padding: 0 3vw;
  }
}
