/*---------------------------------------------------------------- Section about-us */

.about-us {
  background: var(--black-1, #121212);
  padding-left: 180px;
}
.about {
  padding-top: 160px;
  display: flex;
}
.about-box-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  width: 597px;
  padding-bottom: 40px;
}
.about-box-text-min {
  display: none;
}
.about-box-title span {
  color: var(--Primary, #e42652);
}
.about-box-text p {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 597px;
  padding-bottom: 24px;
}
.about-box-text {
  padding-right: 110px;
}

/*---------------------------------------------------------------- Section us */

.us {
  padding: 120px 0 200px;
}
.us-box {
  display: flex;
  gap: 24px;
}
.us-block {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 10px;
  border: 1px solid rgba(224, 224, 224, 0);
  background: rgba(255, 255, 255, 0.05);
  max-width: 254px;
}
.us-number {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
}
.us-text {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

/*---------------------------------------------------------------- Section principles */
.principles-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-left: 200px;
}
.principles-box {
  padding: 20px 0 130px;
}
.principles-card .box-text {
  display: flex;
  flex-direction: row;
}
.principles-card {
  position: relative;
  display: flex;
  padding: 40px 0 70px;
}
.principles-card h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 16px 17px;
  background: var(--Primary, #e42652);
}
.principles-card h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  width: 200px;
  margin-left: 32px;
}
.principles-card p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  width: 728px;
  margin-left: 100px;
}
.principles-line {
  width: 1080px;
  height: 1px;
  background: var(--gray-1, #808080);
}

/*---------------------------------------------------------------- Section about-team */
.about-team {
  padding-bottom: 200px;
}
.about-team h3 {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: 678px;
}
/*---------------------------------------------------------------- Section offer */

.offer-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-left: 350px;
}
.offer-box {
  padding: 47px 0 60px;
  display: flex;
  gap: 60px;
  text-align: center;
}
.offer-block {
  width: 320px;
  height: 174px;
}
.offer-block p {
  color: var(--White, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  width: 320px;
}

/*---------------------------------------------------------------- Section story */

.story {
  padding: 140px 0 200px;
}
.story h3 {
  padding-bottom: 70px;
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: 678px;
}
.story-box {
  padding-top: 30px;
  display: flex;
  gap: 30px;
  text-align: center;
}
.story-block {
  width: 340px;
  height: 321px;
  border-radius: 10px;
  border: 1px solid rgba(224, 224, 224, 0);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  padding: 60px 20px;
  flex-direction: column;
  align-items: center;
}
.story-line {
  width: 100px;
  height: 8px;
  border-radius: 10px;
  background: var(--Primary, #e42652);
}
.story-block h4 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  width: 300px;
  padding: 24px 0 12px;
}
.story-block p {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 300px;
}

/*---------------------------------------------------------------- Section they-say-they-ask */
.they-say-they-ask {
  padding-bottom: 200px;
}
.say-ask-box {
  display: flex;
}
.say-ask-box h4 {
  display: none;
}
.they-say-they-ask-title {
  display: flex;
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  padding-bottom: 60px;
}
.they-say-they-ask-title h3 {
  padding-right: 278px;
}
.they-ask-link {
  display: flex;
  align-items: center;
  padding-top: 48px;
}
.they-ask-box {
  padding-left: 50px;
}
.they-ask-box h3 {
  display: none;
}
.they-ask p {
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  padding-left: 24px;
}
.simple-box-slider {
  display: flex;
}
.they-ask-title {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 46px;
}
.they-ask-link p {
  padding-left: 24px;
}

@media only screen and (max-width: 767px) {
  /*---------------------------------------------------------------- Section about-us */

  .about-us {
    background: var(--black-1, #121212);
    padding-left: 0px;
  }
  .about {
    padding-top: 86px;
    display: flex;
    align-items: center;
  }
  .about-box-title {
    font-size: 24px;
    width: 343px;
    padding-bottom: 40px;
  }
  .about-img {
    width: 360px;
  }
  .about-box-text-min {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .about-box-text-min p {
    font-size: 16px;
    width: 343px;
    padding-bottom: 16px;
  }
  .about-box-text {
    padding-right: 0px;
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  /*---------------------------------------------------------------- Section us */

  .us {
    padding: 100px 0 100px;
  }
  .us-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  .us-block {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    max-width: 279px;
    width: 279px;
  }
  .us-number {
    font-size: 24px;
  }
  .us-text {
    font-size: 16px;
  }

  /*---------------------------------------------------------------- Section principles */
  .principles {
    margin: 0 auto;
    max-width: 767px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .principles-title {
    display: flex;
    font-size: 24px;
    padding-left: 0px;
    width: 343px;
  }
  .principles-box {
    padding: 20px 0 100px;
  }
  .principles-card {
    position: relative;
    display: flex;
    padding: 20px 0 40px;
    display: flex;
    flex-direction: column;
  }
  .principles-card .box-text {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
  }
  .principles-card h3 {
    font-size: 18px;
    width: 40px;
    height: 40px;
    padding: 9px 10px;
  }
  .principles-card h4 {
    font-size: 20px;
    width: 261px;
    margin-left: 32px;
  }
  .principles-card p {
    font-size: 16px;
    width: 343px;
    margin-left: 0px;
  }
  .principles-line {
    width: 343px;
  }

  /*---------------------------------------------------------------- Section about-team */
  .about-team {
    padding-bottom: 100px;
  }
  .about-team h3 {
    font-size: 24px;
    width: 343px;
    margin-left: 33px;
  }
  /*---------------------------------------------------------------- Section offer */
  .offer-title {
    font-size: 24px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  .offer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .offer-box {
    padding: 40px 0 24px;
    display: flex;
    gap: 24px;
    margin-right: 30px;
    text-align: center;
    flex-direction: column;
  }
  .offer-block {
    width: 156.5px;
    height: 129px;
  }
  .offer-block p {
    font-size: 16px;
    width: 156.5px;
  }
  .offer-img {
    width: 60px;
    height: 60px;
  }
  /*---------------------------------------------------------------- Section story */

  .story {
    padding: 76px 0 70px;
    overflow: hidden;
  }
  .story h3 {
    padding-bottom: 0px;
    font-size: 24px;
    width: 343px;
    width: 100%;
    margin-left: 33px;
  }
  .story-box {
    padding-top: 0px;
    gap: 0px;
    height: 240px;
    text-align: center;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    min-width: 340px;
    flex: 0 0 auto;
  }
  .story-boxes::-webkit-scrollbar {
    display: none;
  }
  .story-boxes {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .story-boxes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
  }
  .story-block {
    margin-left: 30px;
    flex: 0 0 auto;
    width: 252px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 0);
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
  }
  .story-line {
    width: 80px;
    height: 6px;
  }
  .story-block h4 {
    font-size: 18px;
    width: 220px;
    padding: 24px 0 12px;
  }
  .story-block p {
    font-size: 14px;
    width: 220px;
  }

  /*---------------------------------------------------------------- Section they-say-they-ask */
  .they-say-they-ask {
    padding-bottom: 100px;
  }
  .say-ask-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .say-ask-box h4 {
    font-size: 24px;
    display: flex;
    padding-bottom: 40px;
  }
  .they-say-they-ask-title {
    display: none;
  }

  .they-ask-link {
    display: flex;
    align-items: center;
    padding-top: 48px;
  }
  .they-ask-box {
    padding-left: 30px;
  }
  .they-ask-box h3 {
    display: flex;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 100px;
  }
  .they-ask p {
    color: var(--White, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    padding-left: 24px;
  }
  .simple-box-slider {
    display: flex;
    flex-direction: column;
  }
  .they-ask-title {
    width: 343px;
    font-size: 16px;
    padding-top: 20px;
  }
  .they-ask-link {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
  }
  .they-ask-link .home-btn {
    width: 343px;
  }
  .they-ask-link p {
    padding-left: 0px;
    padding-top: 14px;
  }
}
