.slider-container-simple {
  width: 512px;

  overflow: hidden;
  position: relative;
}
.slider-container-simple .slick-slide {
  height: 125px;
}
.slide-simple {
  width: 512px;
  height: 125px;
}
.slick-dots {
  position: static;
  text-align: start;
  margin-left: 4px;
}
.slick-dots li button::before {
  content: "";
  background: #666;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.slick-dots li.slick-active button::before {
  background: #e42652;
  width: 32px;
}
.dot-container-simple {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.slider-container-simple-text h2 {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 24px;
}
.slider-container-simple-text p {
  color: var(--gray-1, #808080);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 72px;
}


@media only screen and (max-width: 767px) {
  .slider-container-simple {
    width: 512px;
    overflow: hidden;
    position: relative;
  }
  .slider-container-simple .slick-slide {
    height: 120px;
  }

  .slide-simple {
    width: 512px;
    height: 120px;
  }
  .slick-dots {
    position: static;
    text-align: start;
    margin-left: 4px;
  }
  .slick-dots li button::before {
    content: "";
    background: #666;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }
  .slick-dots li.slick-active button::before {
    background: #e42652;
    width: 32px;
  }
  .dot-container-simple {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .slider-container-simple-text h2 {
    font-size: 18px;
    padding-bottom: 12px;
  }
  .slider-container-simple-text p {
    font-size: 16px;
    width: 343px;
    height: 72px;
  }

}
