.contacts {
  background: url("/contacts/contacts-bg.png") center/cover no-repeat,
    linear-gradient(#121212, #121212);
  overflow: hidden;
}
.contacts-block {
  padding: 8vw 0 10vw;
  display: flex;
  justify-content: space-between;
  min-height: 90vh;
  align-items: center;
}
.contacts-card {
  display: inline-flex;
  padding: 4vw 3vw;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1vw;
  border: 0.05vw solid #ababab79;
  background: rgba(255, 255, 255, 0.05);
  min-width: 560px;
  width: 60%;
  min-height: 530px;
}
.contacts-title {
  font-size: 2.8vw;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
  padding-bottom: 1.2vw;
}
.contacts-text {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
  min-width: 480px;
  width: 70%;
}
.contacts-min-text {
  color: var(--gray-1, #808080);
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  padding-top: 1vw;
  min-width: 480px;
  width: 100%;
}
.contacts-min-text span {
  color: var(--Primary, #e42652);
}
.contacts-form {
  font-size: 1.5vw;
  display: flex;
  font-weight: 500;
  min-width: 380px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.contacts-input {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  width: 100%;
  min-width: 480px;
  height: 3vw;
  margin-top: 1.3vw;
  border: none;
  border-bottom: 0.05vw solid #808080;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.contacts-input::placeholder {
  color: #808080;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
input:focus {
  outline: none;
  background-color: transparent;
}
.contacts-btn {
  display: flex;
  min-width: 480px;
  height: 5vw;
  width: 100%;
  padding: 0.8em 1.8em;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  border-radius: 0.5vw;
  background: var(--Primary, #e42652);
  border: none;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 130%; /* 26px */
  transition: background 0.3s ease, color 0.3s ease;
}
.contacts-clicked {
  background: var(--Dark, #232323);
  border: 3px solid #232323;
  color: white;
}
.contacts-btn:hover {
  background: #ffffff;
  border: none;
  color: var(--White, #000000);
}
.contacts-box h3 {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
  padding-bottom: 32px;
}
.contacts-box {
  padding: 40px 0 0 0px;
}
.contacts-top-group {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.contacts-link-img {
  height: 1.8vw;
  width: 1.8vw;
  margin-right: 0.8vw;
}
.contacts-top-box {
  display: flex;
  flex-direction: column;
}
.contacts-link {
  color: #b7b7b7;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 1.5vw;
  display: flex;
}

@media only screen and (max-width: 977px) {
  .contacts {
    background: url("/contacts/contacts-bg-min.png") center/cover no-repeat,
    linear-gradient(#121212, #121212);
  }
  .contacts-block {
    padding: 86px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0vh;
  }
  .contacts-card {
    padding: 30px 20px;
    min-width: 343px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #ababab79;
    min-height: 460px;
  }
  .contacts-title {
    font-size: 24px;
    padding-bottom: 8px;
  }
  .contacts-text {
    font-size: 16px;
    min-width: 303px;
    width: 100%;
  }
  .contacts-min-text {
    font-size: 13px;
    padding-top: 12px;
    min-width: 303px;
  }
  .contacts-form {
    font-size: 16px;
    min-width: 303px;
    margin-bottom: 0;
  }
  .contacts-input {
    gap: 12px;
    min-width: 303px;
    height: 34px;
    margin-top: 22px;
    font-size: 16px;
  }
  .contacts-input::placeholder {
    font-size: 16px;
  }
  .contacts-btn {
    min-width: 303px;
    height: 45px;
    padding: 18px 32px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 10px;
  }
  .contacts-box h3 {
    font-size: 24px;
    padding-bottom: 24px;
  }
  .contacts-box {
    padding: 7vw 0 70px 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    justify-content: space-evenly;
  }
  .contacts-top-group {
    display: flex;
    gap: 18px;
  }
  .contacts-link img {
    margin-right: 0;
    width: 18px;
    height: 18px;
  }
  .contacts-link {
    font-size: 14px;
    gap: 8px;
    padding-bottom: 16px;
  }
  .contacts-top-group img {
    width: 18px;
    height: 18px;
  }
}
