.contacts {
  background: url("/contacts/contacts-bg.png") center/cover no-repeat;
  height: 900px;
}
.contacts-block {
  padding: 160px 0 0 180px;
  display: flex;
}
.contacts-card {
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #ababab79;
  background: rgba(255, 255, 255, 0.05);
  width: 560px;
  height: 576px;
}
.contacts-title {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
  padding-bottom: 10px;
}
.contacts-text {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.contacts-min-text {
  color: var(--gray-1, #808080);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  padding-top: 12px;
}
.contacts-min-text span {
  color: var(--Primary, #e42652);
}
.contacts-form {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 33.75rem;
  margin-bottom: 3.75rem;
}
.contacts-input {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  background: transparent;
  width: 480px;
  height: 41px;
  border: 0px;
  margin-top: 32px;
  border-bottom: 1px solid #808080;
  color: #808080;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

.contacts-input::placeholder {
  color: #808080;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: 130%; /* 26px */
}
input:focus {
  outline: none;
  border: none;
  background-color: transparent;
}
.contacts-btn {
  display: flex;
  width: 480px;
  height: 62px;
  padding: 18px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 60px;
  border-radius: 10px;
  background: var(--Primary, #e42652);
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  transition: background 0.3s ease, color 0.3s ease;
}
.contacts-clicked {
  background: var(--Dark, #232323);
  border: 3px solid #232323;
  color: white;
}
.contacts-btn:hover {
  background: #ffffff;
  border: none;
  color: var(--White, #000000);
}
.contacts-box h3 {
  color: var(--White, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
  padding-bottom: 32px;
}
.contacts-box {
  padding: 40px 0 0 200px;
}
.contacts-top-group {
  display: flex;
  gap: 24px;
}
.contacts-link img {
  margin-right: 10px;
}
.contacts-link {
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
